#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define TIMEOUT 50
#define DEFAULT 0
#define RESOLVE 1
#define LOWER 2

&kscan0 {
    debounce-scan-period-ms = <10>;
};
&left_encoder {
    status = "okay";
};

&right_encoder {
    status = "disabled";
};

&led_strip {
    chain-length = <8>;
};
/ {
/*  ------------------
 *  |    /-----\  B8 |
 *  |    | ENC |     |
 *  | B1 \-----/  B7 |
 *  | B2 B3 B4 B5 B6 |
 *  ------------------
 */

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
    };

    keymap0: keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                            &kp A  &kp B  &kp C  &kp D  &kp E &kp F  &kp G  &mo RESOLVE

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

        };

        resolve_layer {
            bindings = <
                            &kp I    &kp O    &mt LCTRL T    &kp B  &kp T &kp W  &kp A  &mo LOWER

            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;

        };        lower_layer {
            bindings = <
                            &rgb_ug RGB_TOG    &rgb_ug RGB_EFF    &rgb_ug RGB_EFR    &rgb_ug RGB_BRI  &rgb_ug RGB_BRD &kp F  &kp G  &kp H

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

        };

    };
};
