#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define RESOLVE 1
#define LOWER 2

&kscan0 {
    debounce-scan-period-ms = <10>;
};
&left_encoder {
    status = "okay";
};

&right_encoder {
    status = "disabled";
};

&led_strip {
    chain-length = <8>;
};
/ {
/*  ------------------
 *  |    /-----\  B8 |
 *  |    | ENC |     |
 *  | B1 \-----/  B7 |
 *  | B2 B3 B4 B5 B6 |
 *  ------------------
 */

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
    };

    keymap0: keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                            &kp SPACE   &kp J      &kp K      &kp L
                            &kp I       &kp O      &kp HOME   &to RESOLVE

            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;

        };

        resolve_layer {
            bindings = <
                            &kp LC(Z)           &kp LS(LC(Z))      &kp LC(S)          &kp LC(B)
                            &kp LC(BACKSPACE)   &kp DELETE         &kp M              &to DEFAULT

            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;

        };

        lower_layer {
            bindings = <
                            &rgb_ug RGB_TOG    &rgb_ug RGB_EFF    &rgb_ug RGB_EFR
                            &rgb_ug RGB_BRI    &rgb_ug RGB_BRD    &kp F  &kp G  &kp H

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

        };

    };
};
